@charset "UTF-8";
/* Файл стилей для вывода списка продуктов */
.woocommerce-active #primary *:not(.related) > ul.products {
  /*Строка продукта*/ }
  .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25em;
    margin-bottom: 0;
    padding: 0.5em;
    /*Четные строки*/
    /* ссылка на продукт(без кнопки) */
    /*кнопка когда товар добавлен в корзину*/ }
    .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product:nth-child(2n) {
      background: whitesmoke; }
    .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .woocommerce-loop-product__link {
      display: flex;
      align-items: center;
      flex-grow: 1;
      /*Картинка продукта*/
      /*Заголовок продукта*/ }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .woocommerce-loop-product__link img {
        margin: 0 0.5em 0 0; }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .woocommerce-loop-product__link .woocommerce-loop-product__title {
        margin: 0;
        padding: 0;
        text-align: left;
        height: inherit; }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .woocommerce-loop-product__link .price {
        margin-bottom: 0; }
    .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .added_to_cart {
      margin: 0 0.5em;
      margin-top: -4px; }

@media (max-width: 568px) {
  .woocommerce-active #primary *:not(.related) > ul.products {
    /*Строка продукта*/ }
    .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product {
      flex-wrap: wrap;
      margin: 0.5em 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.5em;
      /*Четные строки*/
      /* ссылка на продукт(без кнопки) */
      /*Картинка продукта*/
      /*Заголовок продукта*/
      /*цена*/
      /*кнопка*/ }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product:nth-child(2n) {
        background: white; }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .woocommerce-loop-product__link {
        flex-wrap: wrap;
        justify-content: center; }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product img {
        margin: 0.5em; }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .woocommerce-loop-product__title {
        text-align: center; }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .price {
        width: 100%;
        padding: 0.5em; }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .button {
        margin: 0 auto; }
      .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product a.added_to_cart.wc-forward {
        align-self: flex-end; }
    .woocommerce-active #primary *:not(.related) > ul.products li.product-category {
      /*border: 0;*/ } }
@media (max-width: 768px) {
  .woocommerce-active #primary *:not(.related) > ul.products {
    /*Строка продукта*/ }
    .woocommerce-active #primary *:not(.related) > ul.products li.product {
      /*Картинка продукта*/ }
      .woocommerce-active #primary *:not(.related) > ul.products li.product img {
        max-width: 150px; } }
@media (min-width: 769px) {
  .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product {
    margin: 0;
    border: 0;
    border-bottom: 1px dotted silver; }
    .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product img {
      max-width: 75px; }
    .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .woocommerce-loop-product__title {
      width: 60%; }
    .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .price {
      flex-shrink: 0;
      font-size: 1rem;
      line-height: 1;
      margin-left: auto;
      padding-left: 1em;
      text-align: right; }
    .woocommerce-active #primary *:not(.related) > ul.products li.product.type-product .button {
      width: 12rem;
      flex-shrink: 0;
      margin-left: 2em;
      font-weight: normal; }

  /*размер картинки для страницы категории*/
  .woocommerce-active.tax-product_cat .site-main *:not(.related) > ul.products li.product.type-product img {
    max-width: 100px; } }
.woocommerce-loop-category__title {
  text-transform: uppercase; }

.products + .storefront-sorting {
  margin-top: 1em; }

/* Оформление списка товаров, выведенных шоткодом */
.woocommerce-active #primary .woocommerce > ul.products li.product {
  box-shadow: none; }
  .woocommerce-active #primary .woocommerce > ul.products li.product a.button {
    font-weight: normal;
    background: none;
    border: 1px solid gray;
    color: gray; }
    .woocommerce-active #primary .woocommerce > ul.products li.product a.button:hover {
      background: whitesmoke; }

/* Оформление вариаций на странице вариативного товара */
.variation-detail-wrap {
  flex: auto;
  font-family: Verdana;
  border: 1px solid darkgray;
  background: white; }

.adaptive-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 0.9em;
  line-height: 1.4; }
  .adaptive-wrap p {
    margin: 0 auto; }
  .adaptive-wrap .adaptive-col-1 {
    max-width: 60%;
    text-align: left;
    color: darkgray; }
  .adaptive-wrap .adaptive-col-2 {
    max-width: 39%;
    align-self: flex-end;
    text-align: right;
    color: #666; }
  .adaptive-wrap:not(:first-child) {
    border-top: 1px solid lightgray; }

@media (max-width: 568px) {
  .adaptive-wrap {
    font-size: 10px; } }
@media (max-width: 768px) {
  .variation-detail-wrap {
    width: 100%; } }
@media (min-width: 769px) {
  .variation-detail-wrap {
    width: 35%; } }
.button.product_type_variation {
  background: none;
  border: 1px solid gray;
  color: gray; }
  .button.product_type_variation:hover {
    background: whitesmoke;
    color: black; }

/* ================================= */
/*             OFORM                 */
/* ================================= */
